.App {
  text-align: center;
}

.translatedBox {
  border: 1px solid silver;
  border-radius: 30px;
  padding: 15px 0;
  width: 100%;
  text-align: left;
}

.sign {  
  width: 100px;
}

.figure-img {
  width: 100%;
}

.figure-caption {
  text-align: center;
}

.whitespace {
  display: inline-block;
  width: 10%;
  
}